/* styles that will apply everything to the app */
html,
body {
  padding: 0.6rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url('nextBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
  margin-top: 0.1rem;
}
