.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  display: flex;
  flex: 1;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 90vh;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  position: absolute;
  top: 4rem;
  left: 2rem;
  line-height: 1.15;
  font-size: 2.3rem;
  font-weight: 600;
}

.title,
.description {
  text-align: center;
}

.description {
  position: absolute;
  top: 8rem;
  left: 2rem;
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: left;
}

.footer {
  display: flex;
  position: relative;
  padding: 0.5rem;
  bottom: 0rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.handContainer {
  background-color: #00000080;
  border-radius: 2rem;
  margin-top: 10rem;
  padding: 4rem;
  padding-bottom: 2rem;
}

.startButton {
  display: flex;
  flex: 1 1;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 50px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  margin-bottom: 2rem;
  margin-top: -5rem;
  background: linear-gradient(
    to right,
    rgb(89, 6, 156) 0%,
    rgb(191, 0, 216) 100%
  );
  filter: grayscale(0);
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.startButton {
  margin-bottom: -0.3rem;
  padding-left: 0.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 400px) {
  .handContainer {
    background-color: #00000080;
    border-radius: 2rem;
    margin-top: 10rem;
    padding: 2rem;
    padding-bottom: 2rem;
  }
}
